<div class="row fields">
    <div class="panel">
        <%= f.hidden_field :semester, value: semester %>
        <div class="row">
            <div class="large-11 columns">
                <label>
                    Количество
                    <%= f.text_field :amount, required: true %>
                </label>
            </div>
        </div>
    </div>
</div>
