<% content_for :title, 'Учебные планы' %>


<form>
  <label>Выберите учебный год
      <%= select_tag :year, options_for_select([2015,2016].map { |y| ["#{y}/#{y+1}", y] }, params[:year]),
                     onchange: %q(document.location = '/' + $(this).val() + '/study_plans';) %>
  </label>
</form>

