<% content_for :title, 'Сотрудники' %>

<% if @users.empty? %>
  <p>Нет зарегистрированных пользователей.</p>
<% else %>
  <%= paginate @users %>

  <table class="full-width">
    <thead>
      <th></th>
      <th>Имя</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.full_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users %>
<% end %>
