<h6>
  <abbr title="<%= department.name %>"><%= department.abbreviation %></abbr>
</h6>

<ul class="no-bullet">
  <% department.positions.each do |p| %>
    <li>
      <em><%= p.qualification.name %></em><br>
      <%= p.user.full_name if p.user.present? %>
    </li>
  <% end %>
</ul>
