<% content_for :title, 'Подразделения' %>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
  google.load('visualization', '1', { packages:['orgchart'] });
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Название');
    data.addColumn('string', 'Главное подразделение');

    data.addRows([
      <% @departments.each do |department| %>
        [
          {
            v: '<%= department.id %>',
            f: '<%= department.name %> (<%= department.abbreviation %>)'
          },
          '<%= department.main_department.present? ?
            department.main_department.id : '' %>'
        ],
      <% end %>
    ]);

    var chart = new google.visualization.OrgChart(
      document.getElementById('departments_chart')
    );
    chart.draw(data, { allowHtml: true });
  }
</script>

<div id="departments_chart"></div>
