<% content_for :title, @department.name %>

<table class="table">
  <thead>
    <tr>
      <th>Должность</th>
      <th>Сотрудник</th>
    </tr>
  </thead>
  <% @department.positions.each do |position| %>
    <tr>
      <td><%= position.name %></td>
      <td><%= position.employee.full_name if position.closed? %></td>
    </tr>
  <% end %>
</table>

<ul class="button-group even-2">
  <li>
    <%= link_to departments_path, class: 'button secondary' do %>
      <i class="fa fa-arrow-left"></i> Вернуться ко всем подразделениям
    <% end %>
  </li>
</ul>
