<div class="sign-in">
  <%= form_for User.new, url: session_path(:user), data: { abide: true } do |f| %>
    <div class="row collapse">
      <div class="small-5 columns">
        <%= f.email_field :email, autofocus: true, required: true,
                          placeholder: 'Электронная почта' %>
        <small class="error">Укажите верный адрес электронной почты.</small>
      </div>

      <div class="small-5 columns">
        <%= f.password_field :password, autocomplete: 'off', required: true, placeholder: 'Пароль' %>
        <small class="error">Укажите пароль.</small>
      </div>

      <div class="small-2 columns">
        <%= f.button class: 'button postfix' do %>
          <i class="fa fa-unlock-alt"></i> Войти
        <% end %>
      </div>
    </div>
  <% end %>
</div>
